:root {
    --primaryfont: "Roboto", sans-serif;
    --secondaryfont: "Abril Fatface", serif;
    --navBackground: #00000045;
    --color1: rgb(250, 243, 146);
    --color2: rgb(117, 210, 243);
    --color3: rgb(209, 244, 241);
    --navLogo: 70px;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--primaryfont);
    font-optical-sizing: auto;
}
body {
    min-height: 100vh;
}
.header-container {
    min-height: 720px;
    background-image: url("assets/suryalanka-guntur-andhra-pradesh-1-attr-hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-container nav {
    background-color: var(--navBackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container nav .brand {
    display: flex;
    justify-content: space-between;
}
.header-container nav .brand .img img {
    width: var(--navLogo);
    height: var(--navLogo);
    padding: 0 10px;
}
.header-container nav .brand .brand-TM #title {
    font-size: 35px;
    font-weight: 700;
    color: var(--color1);
    padding: 5px 0 0 0;
}
.header-container nav .brand .brand-TM #Motto {
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
    color: var(--color2);
}
.header-container nav .navigation {
    display: flex;
    justify-content: space-around;
}
.header-container nav .navigation .nav-links {
    padding: 28px 10px;
}
.header-container nav .navigation .nav-links:hover{
    background-color: #ffffff49;
}
.header-container nav .navigation .nav-links a {
    text-decoration: none;
    color: aliceblue;
}
.header-container nav .navigation-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--navBackground);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px var(--navBackground);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
.header-container nav .navigation-sidebar .nav-links{
    padding: 10px;
}
.header-container nav .navigation-sidebar .nav-links a {
    text-decoration: none;
    color: aliceblue;
}
.header-container nav .navigation-sidebar .navlinks{
    padding: 10px;
    align-self: flex-end;
}
.header-container nav .navigation-sidebar .navlinks a{
    text-decoration: none;
    color: aliceblue   
}
#menubar{
    display: none;
}
.header-container .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.header-container .hero .detail {
    padding: 60px 30px;
    color: white;
}
.header-container .hero .detail h1 {
    font-family: var(--secondaryfont);
    font-size: 100px;
    font-weight: 700;
    padding: 60px 0 10px 0;
}
.header-container .hero .detail p{
    width: 50%;
    font-weight: 600;
    font-style: italic;
}
.header-container .hero .detail .cta-button {
    background: #ffcc00;
    padding: 15px 30px;
    border: transparent;
    border-radius: 30px;
    margin-top: 30px;
    display: inline-block;
}
.header-container .hero .detail .cta-button a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.header-container .hero .cards-container{
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-container .hero .cards-container .cards{
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: transparent;
    border-radius: 10px;
}
.header-container .hero .cards-container .cards .image-card img{
    width: 200px;
    border: transparent;
    border-radius: 10px;
}
.header-container .hero .cards-container .cards .image-card{
    padding: 10px;
}
.header-container .hero .cards-container .cards .matter-card h3{
    padding: 0 0 5px 0;
}
.header-container .hero .cards-container .cards .matter-card p{
    font-size: 13px;
}
@media only screen and (max-width: 768px) {
    .header-container nav .brand .brand-TM #title{
        font-size: 30px;
    }
    #hideonMobile{
        display: none;
    }
    #menubar{
        display: block;
    }
    .header-container .hero .detail h1{
        font-size: 50px;
    }
}
@media only screen and (max-width: 400px){
    .header-container .hero .detail {
    padding: 30px 15px;
    color: white;
}
    .header-container nav .brand .brand-TM #title{
        font-size: 25px;
    }
    .header-container nav .brand .brand-TM #Motto{
        font-size: 10px;
    }
    .header-container nav  .navigation-sidebar{
        width: 100%
    }
}
@media only screen and (max-width: 325px){
    .header-container nav .brand .brand-TM{
        display: none;
    }
}